.login {
  width: 50%;
  background-color: #3f4c4a;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 3%;
  border-radius: 3%;
  color: white;
  .form {
    padding: 2%;
  }
}
