.home {
  width: 50%;
  background-color: #009faf;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 3rem;
  border-radius: 3%;
  color: white;
  
}
